@using System.Globalization
@model HTH8.Areas.MvcMembership.Models.UserAdministration.DetailsViewModel
@{
	ViewBag.Title = "User Details: " + Model.DisplayName;
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">Detaily uživatele: @Model.DisplayName [@Model.Status]</h2>

<ul class="mvcMembership-tabs">
	<li>@Html.ActionLink("Detaily", "Details", "UserAdministration", new {id = Model.User.ProviderUserKey }, null)</li>
	<li>Heslo</li>
	@if(Model.IsRolesEnabled){
	<li>@Html.ActionLink("Role", "UsersRoles", "UserAdministration", new{id = Model.User.ProviderUserKey}, null)</li>
	}
</ul>

<h3 class="mvcMembership">Heslo</h3>
<div class="mvcMembership-password">
	@if(Model.User.IsLockedOut){
		<p>Uzamèeno od @Model.User.LastLockoutDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</p>
		using(Html.BeginForm("Unlock", "UserAdministration", new{ id = Model.User.ProviderUserKey })){
		<input type="submit" value="Odemknout úèet" />
		}
	}else{

		if(Model.User.LastPasswordChangedDate == Model.User.CreationDate){
		<dl class="mvcMembership">
			<dt>Naposledy zmìnìno:</dt>
			<dd><em>Nikdy</em></dd>
		</dl>
		}else{
		<dl class="mvcMembership">
			<dt>Naposledy zmìnìno:</dt>
			<dd>@Model.User.LastPasswordChangedDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</dd>
		</dl>
		}

		if(Model.CanResetPassword && Model.RequirePasswordQuestionAnswerToResetPassword){
			using(Html.BeginForm("ResetPasswordWithAnswer", "UserAdministration", new{ id = Model.User.ProviderUserKey })){
			<fieldset>
				<p>
					<dl class="mvcMembership">
						<dt>Kontrolní otázka k heslu:</dt>
						if(string.IsNullOrEmpty(Model.User.PasswordQuestion) || string.IsNullOrEmpty(Model.User.PasswordQuestion.Trim())){
						<dd><em>Není definována.</em></dd>
						}else{
						<dd>@Model.User.PasswordQuestion</dd>
						}
					</dl>
				</p>
				<p>
					<label for="answer">Odpovìï:</label>
					@Html.TextBox("answer")
				</p>
				<input type="submit" value="Nastavit náhodné heslo a poslat uživateli e-mailem" />
			</fieldset>
			}
		}else if(Model.CanResetPassword){
			using(Html.BeginForm("SetPassword", "UserAdministration", new{ id = Model.User.ProviderUserKey })){
			<fieldset>
				<p>
					<label for="password">Nové heslo:</label>
					@Html.TextBox("password")
				</p>
				<input type="submit" value="Zmìnit heslo" />
			</fieldset>
			}
			using(Html.BeginForm("ResetPassword", "UserAdministration", new{ id = Model.User.ProviderUserKey })){
			<fieldset>
				<input type="submit" value="Nastavit náhodné heslo a poslat uživateli e-mailem" />
			</fieldset>
			}
		}

	}
</div>