@using System.Globalization
@model HTH8.Areas.MvcMembership.Models.UserAdministration.DetailsViewModel
@{
	ViewBag.Title = "User Details: " + Model.DisplayName;
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">Detaily uživatele: @Model.DisplayName [@Model.Status]</h2>

<ul class="mvcMembership-tabs">
	<li>@Html.ActionLink("Detaily", "Details", "UserAdministration", new { id = Model.User.ProviderUserKey }, null)</li>
	<li>@Html.ActionLink("Heslo", "Password", "UserAdministration", new { id = Model.User.ProviderUserKey }, null)</li>
	<li>Role</li>
</ul>

<h3 class="mvcMembership">Role</h3>
<div class="mvcMembership-userRoles">
	<ul class="mvcMembership">
		@foreach(var role in Model.Roles){
		<li>
			@Html.ActionLink(role.Key, "Role", new{id = role.Key})
			@if(role.Value){
				using(Html.BeginForm("RemoveFromRole", "UserAdministration", new{id = Model.User.ProviderUserKey, role = role.Key})){
				<input type="submit" value="Odebrat ze skupiny" />
				}
			}else{
				using(Html.BeginForm("AddToRole", "UserAdministration", new{id = Model.User.ProviderUserKey, role = role.Key})){
				<input type="submit" value="Pøidat do skupiny" />
				}
			}
		</li>
		}
	</ul>
</div>