@using DomainModel.Entity
@using HTH8.Utils.HtmlExtensions
@model Model.ViewModel.MapViewModel
           
@{
    ViewBag.Title = HTH8.Resources.Strings.Sitemap;
}
           
@helper RenderCategories(ICollection<Category> categories)
{
    if (categories.Count > 0)
    {
    <ul>
        @foreach (Category c in categories)
        {
        <li>
            @Html.ActionLinkWithList(c.TitleText.GetValue(UICulture), "Detail", "Category", new { c.Id, Categories = c.Parents, culture = UICulture })

            @RenderCategories(c.Children)

            @if (c.CategoryProducts.Count > 0)
            {
                <ul>
                @foreach (CategoryProduct cp in c.CategoryProducts)
                {
                    var p = cp.Product;
                    <li>@Html.ActionLinkWithList(p.TitleText.GetValue(UICulture), "Detail", "Product", new {p.Id, Categories = c.Parents, culture = UICulture, Title = p.TitleText.GetSeoValue(UICulture)})</li>
                }
                </ul>
            }
        </li>
        }
    </ul>
    }
}

<div id='subpage' class="static-page">
	<div class='top'>
		<h1>@HTH8.Resources.Strings.Sitemap</h1>
		<ul class='tags'>
			<li><a href='@Url.Action("Index", "Home", new { Culture = UICulture })'>HTH 8<span class="left"></span><span class="right"></span></a></li>
			<li><a href='#' class="active">@HTH8.Resources.Strings.Sitemap<span class="left"></span><span class="right"></span></a></li>
		</ul>
	</div>
	<div class='content clearfix'>        <ul>            <li>                @Html.ActionLink("HTH8 s.r.o.", "Index", "Home", new { Culture = UICulture }, null)                @RenderCategories(Model.Categories)                <ul>                    <li>                        @Html.ActionLink("Všechny novinky", "Index", "News")                        <ul>                            @foreach (News n in Model.News)
                            {
                                <li>
                                    <a href='@Url.Action("Detail", "News", new { Id = n.Id, Culture = UICulture, Title = n.TitleText.GetSeoValue(UICulture), news = HTH8.Resources.Strings.News.ToLower() })'>
                                        @n.TitleText.GetValue(UICulture)
                                    </a>
                                </li>
                            }                        </ul>                    </li>                </ul>                <ul>                    @foreach (DomainModel.Entity.Page p in Model.Pages)
                    {
                        <li>@Html.ActionLink(p.TitleText.GetValue(UICulture), "Detail", "Page", new { p.Id, Title = p.TitleText.GetSeoValue(UICulture), Culture = UICulture }, null)</li>
                    }                </ul>            </li>        </ul>    </div></div>