@using HTH8.Utils.HtmlExtensions
@model DomainModel.Entity.News
@{ ViewBag.Title = Model.TitleText.GetValue(UICulture); }

<div id='subpage' class="news-detail">
	<div class='top'>
		<h1>@Model.TitleText.GetValue(UICulture)</h1>
		<ul class='tags'>
			<li><a href='@Url.Action("Index", "Home", new { Culture = UICulture })'>HTH 8<span class="left"></span><span class="right"></span></a></li>
            <li><a href='@Url.Action("Index", "News", new { Culture = UICulture })'>Novinky<span class="left"></span><span class="right"></span></a></li>
			<li><a href='#' class="active">@Model.TitleText.GetValue(UICulture)<span class="left"></span><span class="right"></span></a></li>
		</ul>
	</div>
	<div class='content clearfix'>
        @Html.Raw(Model.ShortDescriptionText.GetValue(UICulture))
        @Html.Raw(Model.DescriptionText.GetValue(UICulture))

        @if (Model.ProductId != null)
        {
            <div class="connected-product">
                <span>@HTH8.Resources.Strings.Products:</span>
                @Html.ActionLinkWithList(Model.Product.TitleText.GetValue(UICulture),"Detail", "Product", new { Culture = UICulture, Categories = Model.Product.ProductCategories.First().Category.Parents, Model.Product.Id, Title = Model.Product.TitleText.GetSeoValue(Culture) })
            </div>
        }
    </div>
</div>