@model DomainModel.Entity.News

<div id='subpage' class="news-detail">
	<div class='top'>
		<h1>@Model.TitleText.GetValue(UICulture)</h1>
		<ul class='tags'>
			<li><a href='@Url.Action("Index", "Home", new { Culture = UICulture })'>HTH 8<span class="left"></span><span class="right"></span></a></li>
            <li><a href='@Url.Action("Index", "News", new { Culture = UICulture })'>Novinky<span class="left"></span><span class="right"></span></a></li>
			<li><a href='#' class="active">@Model.TitleText.GetValue(UICulture)<span class="left"></span><span class="right"></span></a></li>
		</ul>
	</div>
	<div class='content clearfix'>
        @Html.Raw(Model.ShortDescriptionText.GetValue(UICulture))
        @Html.Raw(Model.DescriptionText.GetValue(UICulture))

        @if (Model.Product != null)
        {
            <div class="connected-product">
                <span>Přidružený produkt:</span>
                <a href="#">@Model.Product.TitleText.GetValue(UICulture)</a>
            </div>
        }
    </div>
</div>