@using System.Web.Mvc
@using DomainModel.Entity

@helper DisplayProductsMenu(ICollection<Category> categories, UrlHelper Url, String UICulture, System.Web.Mvc.HtmlHelper Html, bool id)
{    <ul @Html.Raw(id ? "id='products-menu' class='clearfix'" : String.Empty)>
        @foreach(Category c in categories)
        {
            <li>
                <a href="@Url.Action("Detail", "Category", new { Id = c.Id, Title = c.TitleText.GetSeoValue(UICulture) })">
                    @c.TitleText.GetValue(UICulture)<span class="left"></span><span class="right"></span>
                </a>
                @if (c.Children.Count() > 0)
                {
                    @DisplayProductsMenu(c.Children, Url, UICulture, Html, false);
                }
            </li> 
        }
    </ul>   
}

@helper DisplayPagesMenu(ICollection<DomainModel.Entity.Page> pages, UrlHelper Url, String UICulture, System.Web.Mvc.HtmlHelper Html)
{
    foreach (DomainModel.Entity.Page p in pages)
    {
        <li>
            <a href="@Url.Action("Detail", "Page", new { Culture = UICulture, Id = p.Id, Title = p.TitleText.GetSeoValue(UICulture) })">@p.TitleText.GetValue(UICulture)
                <span class="left"></span><span class="right"></span>
            </a>
        </li>     
    }
}

@helper DisplaySingleNewsFrontpage(News n, UrlHelper Url, String UICulture, System.Web.Mvc.HtmlHelper Html, int index)
    {   
    <div class="news @(index == 0 ? "left" : "")">
        <div class="news-inner">
            @if (n.Image != null)
            {
                <div class="news-image">
                    <img src="@Url.Content("/Image/Thumbnail?w=230&h=175&path=" + n.Image.Path)"
                        alt="@n.TitleText.GetValue(UICulture)" />
                </div>
            }
            <div class="news-text">
                <h3>@n.TitleText.GetValue(UICulture)</h3>
                <p>@Html.Raw(n.ShortDescriptionText.GetValue(UICulture))</p>
                <a href="@Url.Action("Detail", "News", new { Id = n.Id, Title = n.TitleText.GetSeoValue(UICulture) })">...</a>
            </div>
        </div>
    </div>
}

@helper DisplayNewsFrontpage(List<News> news, UrlHelper Url, String UICulture, System.Web.Mvc.HtmlHelper Html)
    {
    <div id='news-container' class='clearfix'>
    @{int i = 0;}
    @foreach (News n in news)
    {
        @DisplaySingleNewsFrontpage(n, Url, UICulture, Html, i++);
    }
    </div>
}

@helper DisplayCarouselItem(Category c, int index, UrlHelper Url, String UICulture, System.Web.Mvc.HtmlHelper Html)
    {
    <div class='carousel-item @(index == 1 ? "selected" : String.Empty)'>
		<span><img src="@Url.Content("/Image/CarouselImage?id=" + @c.Id + "&Culture=" + @UICulture + "&number=" + @index)" /></span>
		<div class='carousel-content'>
			<div class='left'>
				<h3>@c.TitleText.GetValue(UICulture)</h3>
				<p>@Html.Raw(c.ShortDescriptionText.GetValue(UICulture))</p>
			</div>
			<div class='right'>                <img src='@Url.Content("/Content/images/carousel/" + @index + "/pic1.png")' alt='@c.TitleText.GetValue(UICulture)' />                <ul class='thumbnails'>                    <li><a href='#' class='selected'><img src='@Url.Content("/Content/images/carousel/" + @index + "/pic1-small.png")' alt='@c.TitleText.GetValue(UICulture)' /></a></li>                    <li><a href='#'><img src='@Url.Content("/Content/images/carousel/" + @index + "/pic2-small.png")' alt='@c.TitleText.GetValue(UICulture)' /></a></li>                </ul>            </div>        </div>    </div>
}

@helper DisplayCarousel(List<Category> categories, UrlHelper Url, String UICulture, System.Web.Mvc.HtmlHelper Html)
    {
    <div id="carousel" class="@UICulture">
        <div class="clearfix">        @{int index = 1;}        @foreach (Category c in categories)
        {
            @DisplayCarouselItem(c, index++, Url, UICulture, Html);
        }        </div>    </div>
}